# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Test and type-checking cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# SQLite database (caso use)
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Static and media (se for Django)
staticfiles/
media/

# Others
*.bak
*.swp
*.tmp
